.wheel-container {
  /* border: 1px solid red; */
  width: 14rem;
  height: 15rem;
  border-radius: 20rem;
  margin-top: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mid-buttons-container {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}
