.item-component-container {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.icon {
  font-size: 4rem;
}

.item-component-container p {
  font-size: 1.5rem;
}
.default-container {
  background-color: transparent;
}
.item-component-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.song-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.song-artist {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#seek-bar {
  width: 100%;
  margin: 0;
  padding: 0;
}

.all-songs-container {
  align-self: stretch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px 30px;
}
.all-songs-upper-container {
  display: flex;
  justify-content: space-between;
}

.all-songs-upper-container > img {
  width: 45%;
}
